#bookTable {
  background-image: url("../../assets/images/thumbs/thumbs-booking.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: #ffffff;
}
.bookTable__button {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 41px;
  border: 1px solid #ffffff;
  text-decoration: none;
}
.bookTable__button:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
