#ourMenu {
  background-color: #eeeeee;
}
.ourMenu .section__header span {
  background-color: #44444444;
}
.ourMenu .nav__menu .nav__active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.ourMenu .nav__menu li:hover {
  cursor: pointer;
}
.ourMenu .nav__menu li a:hover {
  font-weight: 600;
}
